/sheet_7/Task71
/sheet_7/Task72
/sheet_7/Task73
/sheet_7/Task75
/sheet_8/Task84
/sheet_8/Task85
/sheet_8/U.*
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
